#combined {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000
}

#combined > div {
    margin-bottom: 10px; /* Adjust the spacing between each section */
}

#combined button,
#combined input {
    height: 30px;
    width: 150px;
    margin-bottom: 10px; /* Adjust the spacing between inputs and buttons */
}

#find-establishment-button {
    background: lightsalmon;
}

#confirm-button {
    background: lightgreen;
}

#add-address-button {
    background: lightblue;
}

#address-display {
    font-size: 0.8em;
}

#address-display button {
    background-color: pink;
    font-size: 1em;
    height: 40px;
    margin: 0
}