#address-display {
    width: 100%;
    height: 400px;
    text-align:center;
    padding-bottom: 20px;
}

#address-entry {
    width: 100%;
    height: 20px;
    text-align:center;
    padding-bottom: 20px;
}

#input-field-encompass {
    display: flex;
    flex-direction: row;
    width: 100%;
}