#address-display {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 20px;
}

#address-entry {
    width: 100%;
    height: 20px;
    text-align:center;
    padding: 20px;
}

#input-field-encompass {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px
    /* border: 10px solid #000 */
}

#buttons-container {
    display: flex;
    justify-content: flex-start;
    margin: 10px; /* Adjust this value as needed */
}

#buttons-container button {
    height: 30px
}

#calculate-button-calculating {
    background-color: red
}

#calculate-button-done {
    background-color: lightgreen;
}

#buttons-container a {
    height: 30px;
    padding: 10px;
    
}


#anchors-container {
    display: flex;
    justify-content: center; /* Center the anchors horizontally */
    margin-bottom: 20px; /* Add some space between buttons and anchors */
  }
  
  #anchors-container a {
    margin-right: 10px; /* Adjust this value as needed */
  }